
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  /* dark shades of primary color*/
  --clr-primario: #2f83ec;
  --clr-primario-selec: #14519c;
  --clr-fondo: #f5f5f5;
  --clr-fuente-osc: #333333;
  --clr-fuente-clar: #ffffff;
  --clr-fuente-selec: #dddddd;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fuente: 'Roboto', 'sans-serif';
  --clr-rojo: #e03131;
  --clr-verde: #099268;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente);
  background-color: var(--clr-fondo);
  color: var(--clr-fuente-osc);
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

/* Barra de Navegación  */
a {
  text-decoration: none;
  margin-right: 20px;
}

.nav {
  background-color: var(--clr-primario);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seccion {
  color: var(--clr-fuente-clar);
}

.logo {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: var(--clr-fuente-clar);
}

.activo {
  font-size: 1.3rem;
}

.secciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.nombre-curso {
  color: var(--clr-fuente-clar);
  font-size: 1.3rem;
}

.icono-usuario {
  cursor: pointer;
  font-size: 56px;
  color: var(--clr-fuente-clar);
}

.icono-usuario:hover {
  color: var(--clr-fuente-selec);
}

a:hover {
  color: var(--clr-fuente-selec);
}


.panel-derecho{
  position: absolute;
  left: 783px;
  width: 323px;
}



/*==== menu opciones (mis cursos, infoPersonal*/

#contenedor-opciones{
  width: 250px;
  height: 400px;
  position: absolute;
  left: 40px;
  top: 110px;
  box-shadow: var(--dark-shadow);
}
#icono{
  box-shadow: var(--dark-shadow);
  margin-bottom: 30px;

}
.contenedor-opc{
  position: absolute;
  left: 40px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
label{
  width: 100%;
  margin: 5px 0;
}

label:hover{
  background-color: #A9E5FF;
  border-radius: 5px;
}



/* === NAV - curso, terminado, retirarse  === */
#navegar-curso{
  position: absolute;
  left: 400px;
  top: 120px;
  padding-left: 20px;
  padding-right: 120px;
  margin-right: 20px;
  border-bottom: 2px solid#ccc;
}

/*=== Contenedor curso ===*/
#contenedor-curso{
  /* border: red solid; */
  position: absolute;
  width: 800px;
  height: 350px;
  left: 400px;
  top: 160px;
}

/* cuando hago click en las navegaciones*/
.enlace-clicked {
  color: blue;
}



/*Menu "mis cursos - cursos*/
#misCurso1{
  /* border: blue solid;  */
  width: 600px;
  height: 135px;
  position: absolute;
  display: flex;
}
.imgCurso1 img{
  width: 250px;
  height: 114px;
}
.infoCurso2{
  padding-left: 5px;
}

#misCurso1 button{
  border-radius: 5px;
  background-color: #BAFBFF;
  border: var(--clr-primario) solid 1px;
  color: var(--clr-primario);
  width: 80px;
  position: absolute;
  left: 480px;
}





