
header {
    background-color: #f5f5f5; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    padding: 10px 0;
}

.contenedor-header {
    max-width: 1200px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-izquierdo img{
    border-radius: 15px;
}
.panel-izquierdo {
    display: flex;
    align-items: center;
}

.panel-izquierdo img {
    margin-right: 20px; /* Espacio entre el logo y la lista */
}

.lista1 li {
    display: inline; /* Hace que los elementos de la lista estén en línea */
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

.panel-derecho input[type="text"] {
    padding: 5px;
    width: 300px;
    border: none;
    border-radius: 3px;
}

.panel-derecho button {
    background-color: #007bff; /* Botones azules */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    margin-left: 10px; /* Espacio entre botones */
}

button a{
    color: white;
    text-decoration: none;
}

/* CARRUSEL*/
#carrusel{
    position: relative;
    width: 1200px;
    height: 200px;
    background-color: lightblue;
    max-width: 1500px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#carrusel button{
    color: red;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}
.carruselImagenes {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .carruselCard {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carruselCard li {
    flex: 0 0 100%;
  }
  
  /* Oculta todas las imágenes excepto la primera */
  .carruselCard li:not(:first-child) {
    display: none;
  }
  


/*  CURSOS  */
#cursos{
    position: relative;
    background-color:aquamarine;
    display: flex;
    justify-content: space-around;
}
.cardCursos{
    background-color: blanchedalmond;
    width: 250px;
    height: 200px;
}

#cursosProgramacion{
    background-color:aquamarine;
    display: flex;
    justify-content: space-around;
}
#cursosTecnologia{
    background-color:aquamarine;
    display: flex;
    justify-content: space-around;
}




/*  FOOTER */
footer{
    margin-top: 10px;
    color: white;
    background-color: #514F4E;
}


/*=====================*/
/*   LOGIN   */
#contenedorLogin {
    display: flex;
    background-color: red;
    margin: 30px;
    position: absolute;
    top: 200; /* Ajusta la posición superior según sea necesario */
    left: 100; /* Ajusta la posición izquierda según sea necesario */
    right: 100;
    z-index: 1; /* Controla la superposición; un valor mayor pone el formulario encima de otros elementos */
    align-items: center;


}

/*====================================================================================*/
/*   REGISTRO Y LOGIN   */
/*#divRegistro {*/
.divLoginRegistro{    
    background-color: #878787;
    border-radius: 20px;
    text-align: center; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
    width: 300px;
    height: 438px; /* Centra verticalmente y ocupa el 100% de la altura de la ventana */
  }
.divLoginRegistro a{
    color: black;
}
.divLoginRegistro div{
    display: flex;
    flex-direction: column;
}














